//-------------------------------------
// Animations
//-------------------------------------

@include keyframes(fadeIn) {
  from  { opacity: 0 }
  to    { opacity: 1 }
}

@include keyframes(fadeOut) {
  from  { opacity: 1 }
  to    { opacity: 0 }
}
