//-------------------------------------
// Typography
//-------------------------------------

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: $fontsizeM;
    line-height: 1.6;
    font-family: 'Apercu', Gill Sans MT, Gill Sans, Arial, sans-serif;
    letter-spacing: .05em;
    color: $colorDarkPrimary;
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    line-height: 1.4;
    color: inherit;
    letter-spacing: .08em;
}

h1, h2, h3,
.h1, .h2, .h3 {
    margin-top: $spaceLarge;
    margin-bottom: $spaceMedium;
    font-weight: 400;
}

h4, h5, h6,
.h4, .h5, .h6 {
    margin-top: $spaceMedium;
    margin-bottom: $spaceMedium;
    text-transform: uppercase;
    font-weight: 700;
}

h1,
.h1 { font-size: $fontsizeXXXL }

h2, h3,
.h2, .h3 { font-size: $fontsizeXL }

h4,
.h4 { font-size: $fontsizeL }

h5, h6,
.h5,.h6 { font-size: $fontsizeM }

a {
    color: $colorDarkPrimary;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $colorDarkPrimary;
        text-decoration: underline;
    }

    &::focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    // Links on dark backgrounds
    &.a-white {
        color: white;
    }
}

// Figures & Images
figure { margin: 0 }

img { vertical-align: middle }

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

// Horizontal Lines
hr {
    margin-top: $spaceLarge;
    margin-bottom: $spaceLarge;
    border: 0;
    border-top: 1px solid #eee;
}

// Text elements
p { margin: 0 0 $spaceMedium }

em {
    font-weight: 700;
    font-style: normal;
}

.font-xlarge {
    font-size: $fontsizeXL;
}

.font-large {
    font-size: $fontsizeL;
}

.font-medium {
    font-size: $fontsizeM;
}

.font-small {
    font-size: $fontsizeS;
}

/*
# Text Emphasis - Style

Emphasize text by making it italic with *&lt;em&gt;*, or bold with *&lt;strong&gt;*.

Or change the case with *text-upper* or *text-lower*.

    <p><em>This is italic text</em></p>
    <p><strong>This is bold text</strong></p>
    <p class="text-upper">This text is in uppercase</p>
    <p class="text-lower">This text is in lowercase</p>
    <p class="text-2em">This text is vertically aligned in the middle with 0.5em padding in top and bottom</p>
    <p class="text-line-through">This text is line-through</p>

No modifiers

Styleguide 4.4.0
*/

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-2em {
    line-height: 2em;
}

.text-line-through {
    text-decoration: line-through;
}

.text-bold {
    font-weight: bold;
}
/*
# Text Emphasis - Color

Use color to convey meaning about the content.

    <p class="text-muted">This is muted text</p>
    <p class="text-muted-2">This is muted text 2</p>
    <p class="text-muted-3">This is muted text 3</p>
    <p class="text-red">This is red text</p>
    <p class="text-wine">This is wine text</p>
    <p class="text-white">This is white text</p>
    <p class="text-gray">This is gray text</p>
    <p class="text-black">This is black text</p>
    <p class="text-success">This is success text</p>
    <p class="text-info">This is informational text</p>
    <p class="text-attention">This is important text</p>
    <p class="text-attention-inverted">This is important text inverted</p>

No modifiers

Styleguide 4.4.1
*/
.text-muted {
    color: $colorMuted1;
}

.text-muted-2 {
    color: $colorMuted2;
}

.text-muted-3 {
    color: $colorMuted3;
}

.text-red {
    color: $colorRed;
}

.text-wine {
    color: $colorWine;
}

.text-white {
    color: $colorLightPrimary;
}

.text-gray {
    color: $colorGray;
}

.text-success {
    color: $colorTextSuccess;
}

.text-attention {
    color: $colorTextAttention;
}

.text-attention-inverted {
    color: $colorTextAttentionInverted;
}

.text-dark-primary {
    color: $colorDarkPrimary;
}

.text-dark-secondary {
    color: $colorDarkSecondary;
}

.text-negative-dark {
    color: $colorNegativeDark;
}
