//-------------------------------------
// Variables
//-------------------------------------

// Colors
$colorLightPrimary:             #fff;       // White
$colorLightSecondary:           #E6E6E6;    // Light Grey
$colorMedium:                   #dfdfdf;    // Medium Grey
$colorDarkPrimary:              #000;       // Black
$colorDarkSecondary:            #265F63;    // Teal
$colorDarkTertiary:             #6d6e6e;    // Dark Grey
$colorHighlightPositive:        #00c8b4;    // Neon Teal
$colorHighlightPositiveOnDark:  #02BDAB;
$colorHighlightNegative:        #ba4242;    // Dark Red / Salmon
$colorHighlightError:           #FF8484;

$colorFacebook:                 #3a5795;    // Funny facebook dark blue
$colorFacebookHover:            #2B4273;    // Bit darken facebook blue

// Spacings
$spaceSmall:     5px;
$spaceMedium:    12px;
$spaceLarge:     20px;
$spaceXLarge:    40px;

// Font sizes
$fontsizeS:      11px;
$fontsizeM:      13px;
$fontsizeL:      16px;
$fontsizeXL:     18px;
$fontsizeXXL:    22px;
$fontsizeXXXL:   24px;
