/* ==========================================================================
   Common styles
   ========================================================================== */


.font-size-S {
  font-size: $fontsizeS;
}

.font-size-M {
  font-size: $fontsizeM;
}

.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.color-dark-secondary {
  color: $colorDarkSecondary;
}