//-------------------------------------
// Variables
//-------------------------------------

// Colors
$colorLightPrimary:             #fff;       // White
$colorLightSecondary:           #F3F3F3;    // Light Grey
$colorMedium:                   #E6E6E6;    // Medium Grey
$colorDarkPrimary:              #000;       // Black
$colorDarkSecondary:            #909090;    // Teal
$colorDarkTertiary:             #9DABAE;    // Dark Grey
$colorPositiveLight:            #D4ECE7;    // Mint
$colorPositiveDark:             #00B09f;    // Neon Teal
$colorNegativeLight:            #FF8484;    // Dark Red / Salmon
$colorNegativeDark:             #BA4242;    // Light Red

$colorFacebook:                 #3a5795;    // Funny facebook dark blue
$colorFacebookHover:            #2B4273;    // Bit darken facebook blue

$colorDarkDisabled:             #6d6e6e;
$colorLightDisabled:            #cdece9;

// Spacings
$spaceXSmall:     13px;
$spaceSmall:      16px;
$spaceMedium:     25px;
$spaceLarge:      35px;
$spaceXLarge:     45px;

// Font sizes
$fontsizeS:      11px;
$fontsizeM:      12px;
$fontsizeL:      16px;
$fontsizeXL:     18px;
$fontsizeXXL:    22px;
$fontsizeXXXL:   24px;
