//-------------------------------------
// Defining how prices look
//-------------------------------------

/*doc
---
title: Price Box
name: price-box
category: components
---

Price boxes are a common way to display a price of an item. Note the containers for reduced and special prices:

```html_example
<div class="price-box">
  <div class="price-box__regular-price">
    <span>$65</span>
  </div>
  <div class="price-box__old-price">
    <span>$80</span>
  </div>
  <div class="price-box__special-price">
    <span>$10</span>
  </div>
</div>
```

This also works really nice with the [font size helper classes](/components/desktop/font-size-helpers.html):

```html_example
<div class="price-box fsxxl">
  <div class="price-box__old-price">
    <span>$80</span>
  </div>
  <div class="price-box__special-price">
    <span>$10</span>
  </div>
</div>
```

*/
.price-box {
    .price-box__old-price {
      color: $colorMedium;
      text-decoration: line-through;
    }

    .price-box__special-price {
      color: $colorHighlightNegative;
    }
}
