//-------------------------------------
// Forms
//-------------------------------------
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: $colorLightPrimary;
}

select {
    height: 38px;
}

/* placeholder attribute */
@include placeholder {
    font-style: normal;
    color: #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    transition: border .3s;
    border: 1px solid $colorMedium;
    border-radius: 0;
    width: 100%;

    &:focus {
      border: 1px solid $colorHighlightPositive;
    }

    &.error {
      border: 1px solid $colorHighlightNegative;
      background: $iconExclamationmarkURL no-repeat right 10px center $colorLightPrimary;
    }

    &.success {
      border: 1px solid #00c8b4;
      background: $iconCheckLightURL no-repeat right 10px center #fff;
    }

    &.disabled {
        opacity: .6;
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    padding: 8px;
}

label {
    display: block;
}

.form__group {
    margin-bottom: 30px;
    position: relative;

    &:last-child {
      margin: 0;
    }
}

.form-stacked {

    .form-stacked__group {
      @extend .form__group
    }

    label {
         margin-bottom: 5px;
    }

    .form-stacked__input {
        &.fluid {
            width: 100%;
        }
    }

    .form-stacked__half {
        width: 48%;
        float: left;
        margin-right: 4%;
        &:last-child {
            margin-right: 0;
        }
    }
}


.form-horizontal {

    .form-horizontal__group {
        @extend .form__group
    }

    .form-horizontal__input {
        &.fluid {
            width: 100%;
        }
    }
}


.custom-control{
    padding-left: 1.5rem;
    &--inline {
        display: inline-flex;
    }

    .custom-control__input {
        position: absolute;
        z-index: -1; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
      
        &:checked ~ .custom-control__label::before {
          color: $colorLightPrimary;
          background-color: $colorDarkPrimary;
        }

    }


    .custom-control__label {
        position: relative;
        margin-bottom: 0;
        margin-right: 1rem;
      
        // Background-color and (when enabled) gradient
        &::before {
          position: absolute;
          top: .25rem;
          left: -1.5rem;
          display: block;
          width: 1rem;
          height: 1rem;
          pointer-events: none;
          content: "";
          user-select: none;
          background-color: $colorLightPrimary;
        }
      
        // Foreground (icon)
        &::after {
          position: absolute;
          top: .25rem;
          left: -1.5rem;
          display: block;
          width: 1rem;
          height: 1rem;
          content: "";
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }
      }

    &.custom-radio {
        .custom-control__label::before {
            border-radius: 50%;
        }
        
        .custom-control__input:checked ~ .custom-control__label {
            &::before {
                background-color: $colorLightPrimary;
            }
            &::after {
                background-image: $iconRadioSelectedDotURL;
            }
        }
    }
}